# AUTOMATION INPUT DATA DMS Fix

In [2]:
#!pip install python-numexpr
#!pip install python-pip build-essentials
#!pip install bottleneck
import pandas as pd
!pip install pandasql
from pandasql import sqldf

Requirement already satisfied: pandasql in c:\users\danan\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: pandas in c:\users\danan\anaconda3\lib\site-packages (from pandasql) (1.4.2)
Requirement already satisfied: sqlalchemy in c:\users\danan\anaconda3\lib\site-packages (from pandasql) (1.4.37)
Requirement already satisfied: numpy in c:\users\danan\anaconda3\lib\site-packages (from pandasql) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\danan\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\danan\anaconda3\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\danan\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: six>=1.5 in c:\users\danan\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

In [1]:
#read db Source
import mysql.connector

db_src = mysql.connector.connect(
    host= '#YOURHOST',
    port= #YOURPORT,
    user= '#YOURUSER',
    password= '#YOURPASSWORD',
    database="#YOURDATABASE"
)
if db_src.is_connected():
    print("Connected")

Connected

In [3]:
# Open data source MySQL
mycursor_src = db_src.cursor()
data_src =pd.read_sql_query("select * from db_dms_2.db_all_mitra", con=db_src)
data_src.tail()

C:\Users\danan\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,ID,Plate Number,Device ID,Time,shift,Mitra,Warning Type,Speed,Nama Area,Kode Driver,...,dir,lat,lng,acc,altitude,media,id_warning_type,kode_driver,flag_alarm,DN
6196,270244602,PAMA-1585,354311090665988,2022-06-15 06:34:32,1,PT.Pamapersada Nusantara,Front Vehicle Collision,42.0,KM 22000,PVN2T,...,203.46,1.933753,117.305140,1,42.0,https://singapore.jmadas.com/jmftp/device/3543...,5,PVN2T,1,D3
6197,270298194,PAMA-1585,354311090665988,2022-06-15 07:53:36,1,PT.Pamapersada Nusantara,Pedestrian Detection Warning,15.0,KM 0.100,PVN2T,...,29.87,2.034168,117.450243,1,49.3,https://singapore.jmadas.com/jmftp/device/3543...,8,PVN2T,1,D3
6198,270459918,PAMA-1585,354311090665988,2022-06-15 11:30:24,1,PT.Pamapersada Nusantara,Front Vehicle Collision,49.0,KM 11100,PVN2T,...,263.82,1.978313,117.371800,1,69.3,https://singapore.jmadas.com/jmftp/device/3543...,5,PVN2T,1,D3
6199,270652857,PAMA-1585,354311090665988,2022-06-15 16:30:27,1,PT.Pamapersada Nusantara,No Face,44.0,KM 21300,PVN2T,...,165.85,1.939428,117.303610,1,41.3,https://singapore.jmadas.com/jmftp/device/3543...,206,PVN2T,1,D3
6200,271783427,PAMA-1585,354311090665988,2022-06-17 02:25:45,2,PT.Pamapersada Nusantara,Call,32.0,KM 6200,NI5PG,...,236.16,1.995053,117.412065,1,23.1,https://singapore.jmadas.com/jmftp/device/3543...,207,NI5PG,1,None

In [8]:
# # df_src= data_src.rename(columns={"Nama Driver":"Nama_Driver"})
# df_cek=  sqldf("select distinct(Nama_Driver) from df_src where Mitra = 'Mutiara Tanjung Lestari'")
# df_cek

                  Nama_Driver
0     Muhammad Kasan Sugianto
1                Eko Julianto
2                     Suyitno
3                     Warsono
4                        None
5                 Edi Junaidi
6                      Markus
7            Jayan Nainggolan
8     Bartolomius Minaga Udau
9                 Heru Susono
10          Hilarius Rowa Roy
11             Roger Tambunan
12            Muhammad Tahang
13                    Kusaini
14                Kasdim Pala
15             Arif Seftiyono
16                      M Ali
17              Dwi Isdiyanto
18                    Supardi
19                  Udiansyah
20                        UNA
21         Petrus Tandi Tulak
22               Adioscierlwi
23            Marthinus Ponde
24               Rudi Hartono
25               Yusuf Minggu
26       Ervan Hardi Pratekto
27             Edi Kuswandoko
28                    Relawan
29                     Jaswan
30                Elia Ripang
31                 Sutrisno S
32         Pither Sonni Paliu
33               Candra Halim
34              Sukardiansyah
35                     Umar M
36          Rinaldi Gurusinga
37         Yandri Pongmasakke
38         Bernandus Harianto
39                   Ngadirun
40                     Tansil
41          Mahfud Nur Arifin
42           Fransiskus Wella
43           Hendri Kurniawan
44              Hasbudi Musti
45                      Saleh
46              Nathan Sumule
47  Emandus Abernart Ndun Loe
48                    Musakar

In [ ]:
#read db Destination
db_dst = mysql.connector.connect(
    host= '#YOURHOST',
    port= #YOURPORT,
    user= '#YOURUSER',
    password= '#YOURPASSWORD',
    database="#YOURDATABASE"
)
if db_dst.is_connected():
    print("Connected")

In [ ]:
# Open data destination MySQL
mycursor_dst = db_dst.cursor()
data_dst = pd.read_sql_query("select * from dms2.DMS_Backup", con=db_dst)
data_dst

In [ ]:
# Select data
df = sqldf("select * from data_src where ID NOT IN (select ID from data_dst)")

In [ ]:
df.column

In [ ]:
df = sqldf("select * from df order by Time")

In [ ]:
df.head()

# Import to Local Database DMS_Backup

In [7]:
import mysql.connector
import pandas as pd

#read db destination

mydb = mysql.connector.connect(
    host= '#YOURHOST',
    port= #YOURPORT,
    user= '#YOURUSER',
    password= '#YOURPASSWORD',
    database="#YOURDATABASE"
)
if mydb.is_connected():
    print("Connected")

Connected

In [8]:
# convert column to object type
column = ['ID', 'acc', 'id_warning_type', 'flag_alarm']
for i in column:
    df[i] = df[i].astype('object')

In [9]:
df_hasil = df 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025 entries, 0 to 3024
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               3025 non-null   object
 1   Plate Number     3025 non-null   object
 2   Device ID        3025 non-null   object
 3   Time             3025 non-null   object
 4   shift            3025 non-null   object
 5   Mitra            3025 non-null   object
 6   Warning Type     3025 non-null   object
 7   Speed            3025 non-null   float64
 8   Nama Area        3025 non-null   object
 9   Kode Driver      1791 non-null   object
 10  Nama Driver      933 non-null    object
 11  dir              3025 non-null   float64
 12  lat              3025 non-null   float64
 13  lng              3025 non-null   float64
 14  acc              3025 non-null   object
 15  altitude         3025 non-null   float64
 16  media            2765 non-null   object
 17  id_warning_type  3025 non-null   object
 18  kode_driver      1753 non-null   object
 19  flag_alarm       3025 non-null   object
 20  DN               933 non-null    object
dtypes: float64(5), object(16)
memory usage: 496.4+ KB

In [10]:
#insert data to mySQL Database

mycursor= mydb.cursor()

sql = "INSERT INTO dms2.DMS_Backup(ID, Plate_Number, Device_ID, Time, shift, Mitra, Warning_Type, Speed, Nama_Area, Kode_Drivers, Nama_Driver, dir, lat, lng, acc, altitude, media, id_warning_type, kode_driver, flag_alarm, DN) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

for i in range(0,len(df_hasil)):
    val=((df_hasil['ID'][i]),(df_hasil['Plate Number'][i]),(df_hasil['Device ID'][i]),(df_hasil['Time'][i]),(df_hasil['shift'][i]),(df_hasil['Mitra'][i]),(df_hasil['Warning Type'][i]),(df_hasil['Speed'][i]),(df_hasil['Nama Area'][i]),(df_hasil['Kode Driver'][i]),(df_hasil['Nama Driver'][i]),(df_hasil['dir'][i]),(df_hasil['lat'][i]),(df_hasil['lng'][i]),(df_hasil['acc'][i]),(df_hasil['altitude'][i]),(df_hasil['media'][i]),(df_hasil['id_warning_type'][i]),(df_hasil['kode_driver'][i]), (df_hasil['flag_alarm'][i]), (df_hasil['DN'][i]))
    #(val)
    mycursor.execute(sql,val)
    
    mydb.commit()

print(mycursor.rowcount, "was inserted.")

1 was inserted.