In [1]:
#!pip install python-numexpr
#!pip install python-pip build-essentials
#!pip install bottleneck

import pandas as pd
!pip install pandasql
from pandasql import sqldf

Requirement already satisfied: pandasql in c:\users\danan\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\danan\anaconda3\lib\site-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in c:\users\danan\anaconda3\lib\site-packages (from pandasql) (1.4.2)
Requirement already satisfied: sqlalchemy in c:\users\danan\anaconda3\lib\site-packages (from pandasql) (1.4.37)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\danan\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\danan\anaconda3\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\danan\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: six>=1.5 in c:\users\danan\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

# Import Data Source

In [2]:
#import dataset all

df_src2 = pd.read_excel('DMSYear_All.xlsx')

C:\Users\danan\AppData\Local\Temp\ipykernel_11676\152582178.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df_src2 = pd.read_excel('DMSYear_All.xlsx')

In [3]:
df_src = df_src2.copy()

In [4]:
# df_src.isna().sum()
df_src = df_src.dropna(axis=0, subset=['Date'])
df_src[df_src.columns[0]].count()

101029

In [5]:
# convert 2 column to one

df_src['Datetime'] = pd.to_datetime(df_src.Date.astype(str) + ' ' + df_src.Time.astype(str))
df_src['Datetime'] = df_src['Datetime'].astype('object')

In [6]:
# rename column

df_src= df_src.rename(columns={"Vehicle":"Plate_Number", "Operator":"Nama_Driver", "Time":"Time2", "Datetime":"Time",
                               "Shift":"shift", "Category":"Warning_Type", "Speed (Km/h)":"Speed", "SID/Code":"Kode_Drivers",
                               "Operator":"Nama_Driver", "Latitude":"lat", "Longitude":"lng", "Media":"media", 
                               "Area":"Nama_Area", "Heading":"dir"})

In [7]:
# cleaning data

df_src['shift'] = df_src['shift'].apply(pd.to_numeric).astype('Int64')
df_src = df_src.dropna(axis=0, subset=['Kode_Drivers'])

df_src[df_src.columns[0]].count()

67576

In [8]:
# cleaning duplicate data

df_src.duplicated(subset=['Plate_Number', 'Time', 'Kode_Drivers', 'Warning_Type'], keep='first')
# df_src.duplicated(subset=['PK1'])

5         False
6         False
7         False
8         False
9         False
          ...
101031     True
101032     True
101033     True
101034     True
101035     True
Length: 67576, dtype: bool

In [10]:
pd.set_option('display.max_columns', None)
# df_final.head()
df_src.tail()

,NO,Plate_Number,Nama_Driver,Kode_Drivers,Count Day/Night,shift,Date,Time2,Condition,Warning_Type,Subject,Nama_Area,lat,lng,dir,Speed,Limit Speed(Km/h),Category.1,Status Data,Filtered By,Filter Note,Intervented By,Closing Date,Intervention Note,media,Time
101031,1536.0,PM-5812,Jayan Nainggolan,0XBFB,N5,2,2022-06-07,05:13:15,kosongan,Driving Behavior,Left and Right Look,KM 16400,2° 0′ 30.5820″ N,117° 35′ 13.7292″ E,263.6°(W),59.00,60.0,NaN,True,NaN,NaN,Handoko Prihandono,2022-06-07 05:14:40,Komunikasi 2 arah,https://singapore.jmadas.com/jmftp/device/3543...,2022-06-07 05:13:15
101032,1537.0,PM-5812,Jayan Nainggolan,0XBFB,N5,2,2022-06-07,05:16:48,kosongan,Driving Behavior,Left and Right Look,KM 13050,2° 0′ 30.0348″ N,117° 33′ 26.2188″ E,282.55°(W),51.00,60.0,NaN,True,NaN,NaN,Handoko Prihandono,2022-06-07 05:17:40,Komunikasi 2 arah,https://singapore.jmadas.com/jmftp/device/3543...,2022-06-07 05:16:48
101033,1538.0,PM-5812,Marthinus Ponde,1Y6NB,D2,1,2022-06-07,10:56:48,muatan,Overspeed,Overspeed,KM 3300,2° 1′ 46.4232″ N,117° 28′ 38.8128″ E,106.5°(E),39.85,30.0,B,True,NaN,NaN,Dwi Norachmad,2022-06-07 11:02:39,Komunikasi 2 arah,NaN,2022-06-07 10:56:48
101034,1539.0,PM-5812,Marthinus Ponde,1Y6NB,D3,1,2022-06-08,08:35:37,muatan,Overspeed,Overspeed,KM 3300,2° 1′ 46.4520″ N,117° 28′ 38.3268″ E,104.3°(E),35.32,30.0,B,True,NaN,NaN,Dwi Norachmad,2022-06-08 08:37:11,Mengingatkan untuk menyesuaikan kecepatan dan ...,NaN,2022-06-08 08:35:37
101035,1540.0,PM-5812,Tansil,8SNBA,N3,2,2022-06-08,23:19:11,muatan,Overspeed,Overspeed,KM 7050,2° 1′ 16.9572″ N,117° 30′ 29.1528″ E,97.66°(E),55.94,50.0,B,True,NaN,NaN,Andik,2022-06-08 23:20:42,Mengingatkan untuk menyesuaikan kecepatan dan ...,NaN,2022-06-08 23:19:11

In [9]:
# count total row

# df_src = df_src.drop_duplicates(subset=['Time', 'Kode_Drivers', 'Warning_Type'], keep='first')
df_src[df_src.columns[0]].count()

67576

In [10]:
# see missing value

df_src.isnull().sum()

NO                       0
Plate_Number             0
Nama_Driver              0
Kode_Drivers             0
Count Day/Night      22696
shift                    0
Date                     0
Time2                    0
Condition              318
Warning_Type             0
Subject                  0
Nama_Area             3468
lat                      0
lng                      0
dir                      0
Speed                    0
Limit Speed(Km/h)        0
Category.1           55932
Status Data              0
Filtered By          66619
Filter Note          63284
Intervented By       54268
Closing Date             0
Intervention Note    54270
media                12589
Time                     0
dtype: int64

# Read DB Destination

In [12]:
import mysql.connector
import pandas as pd


# read db destination

mydb = mysql.connector.connect(
    host= '10.10.10.196',
    port= 33061,
    user= 'root',
    password= 'masterroot',
    database="dms"
)
if mydb.is_connected():
    print("Connected")

Connected

In [13]:
# Open data destination MySQL

mycursor_dst = mydb.cursor()
data_dst = pd.read_sql_query("select * from dms2.DMS_Backup", con=mydb)

C:\Users\danan\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [25]:
# delete missing value

data_dst = data_dst.dropna(axis=0, subset=['Kode_Drivers'])

In [26]:
# see missing value

data_dst.isnull().sum()

ID                     0
Plate_Number           0
Device_ID              0
Time                   0
shift                  0
Mitra              58732
Warning_Type           0
Speed                  0
Nama_Area           3337
Kode_Drivers           0
Nama_Driver         5707
dir                    0
lat                    0
lng                    0
acc                58732
altitude           58732
media              12922
id_warning_type    58732
kode_driver        59372
flag_alarm         58732
DN                 64441
dtype: int64

In [27]:
# count total row

data_dst[data_dst.columns[0]].count()

73284

# Append Data source to Database Destination

In [28]:
# Select data

df1 = pd.DataFrame(df_src, columns= ['Plate_Number', 'Time', 'shift', 'Warning_Type', 'Speed', 'Nama_Area', 'Kode_Drivers', 
                                  'Nama_Driver', 'media'])
df2 = pd.DataFrame(data_dst, columns= ['Plate_Number', 'Time', 'shift', 'Warning_Type', 'Speed', 'Nama_Area', 'Kode_Drivers', 
                                  'Nama_Driver', 'media'])

df_final = pd.concat([df1, df2], ignore_index=True)
df_final[df_final.columns[0]].count()

140860

In [29]:
# Drop duplicate

df_final = df_final.drop_duplicates(subset=['Plate_Number', 'Time', 'Kode_Drivers', 'Warning_Type'], keep='first')
# df = df.drop_duplicates()

df_final[df_final.columns[0]].count()

77613

In [18]:
# read all column

pd.set_option('display.max_columns', None)
# df_final.head()
df_final

,Plate_Number,Time,shift,Warning_Type,Speed,Nama_Area,Kode_Drivers,Nama_Driver,media
0,PM-5804,2021-05-12 09:38:45,1,Driving Behavior,50.00,KM 6000,7B3OW,Udiansyah,NaN
1,PM-5804,2021-05-12 10:05:30,1,Overspeed,58.50,KM 6000,7B3OW,Udiansyah,NaN
2,PM-5804,2021-05-12 10:12:56,1,Driving Behavior,51.00,KM 4900,7B3OW,Udiansyah,https://singapore.jmadas.com/jmftp/device/3543...
3,PM-5804,2021-05-12 12:26:33,1,Overspeed,55.87,KM 12800,7B3OW,Udiansyah,NaN
4,PM-5804,2021-05-12 12:54:10,1,Driving Behavior,51.00,KM 5700,7B3OW,Udiansyah,NaN
...,...,...,...,...,...,...,...,...,...
90913,DTH-008,2022-06-10 07:08:58,1,Pedestrian Detection Warning,29.00,KM 10000,WQ4C4,ASMANG,https://singapore.jmadas.com/jmftp/device/3543...
90914,PAMA-1585,2022-06-07 08:58:23,1,Front Vehicle Collision,45.00,KM 21000,4L0AQ,SULISTYONO DWI YULIANTO,https://singapore.jmadas.com/jmftp/device/3543...
90915,PAMA-1585,2022-06-08 03:59:20,2,Yawning,30.00,,CW78Z,DWI AGUS SUCHAYO,https://singapore.jmadas.com/jmftp/device/3543...
90916,PAMA-1585,2022-06-08 07:28:02,1,Front Vehicle Collision,50.00,KM 2400,NI5PG,AGUNG SETIADI,https://singapore.jmadas.com/jmftp/device/3543...
90917,PAMA-1585,2022-06-08 10:36:45,1,Pedestrian Detection Warning,31.00,KM 7800,NI5PG,AGUNG SETIADI,https://singapore.jmadas.com/jmftp/device/3543...

In [26]:
# cleaning data

# column = ['ID', 'acc', 'id_warning_type', 'flag_alarm']
# for i in column:
#     df[i] = df[i].astype('object')

df_src['shift'] = df_src['shift'].astype('object')
df_src = df_src.astype(object).where(pd.notnull(df_src), None)
df_src.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92643 entries, 0 to 92642
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NO                 92643 non-null  object
 1   Plate_Number       92643 non-null  object
 2   Nama_Driver        59207 non-null  object
 3   Kode_Drivers       59207 non-null  object
 4   Count Day/Night    58486 non-null  object
 5   shift              92643 non-null  object
 6   Date               92643 non-null  object
 7   Time2              92643 non-null  object
 8   Condition          92165 non-null  object
 9   Warning_Type       92643 non-null  object
 10  Subject            92643 non-null  object
 11  Nama_Area          87555 non-null  object
 12  lat                92643 non-null  object
 13  lng                92643 non-null  object
 14  dir                92643 non-null  object
 15  Speed              92643 non-null  object
 16  Limit Speed(Km/h)  92643 non-null  object
 17  Category.1         12376 non-null  object
 18  Status Data        92643 non-null  object
 19  Filtered By        0 non-null      object
 20  Filter Note        0 non-null      object
 21  Intervented By     10062 non-null  object
 22  Closing Date       92643 non-null  object
 23  Intervention Note  10060 non-null  object
 24  media              78896 non-null  object
 25  Time               92643 non-null  object
dtypes: object(26)
memory usage: 19.1+ MB

In [33]:
# delete null value

df_final = df_final.fillna(0)

In [34]:
# see missing value 

df_final.isnull().sum()

Plate_Number    0
Time            0
shift           0
Warning_Type    0
Speed           0
Nama_Area       0
Kode_Drivers    0
Nama_Driver     0
media           0
dtype: int64

In [36]:
# DANGERR!!!!!
# insert data to mySQL Database

mycursor= db_dst.cursor()

sql = "INSERT INTO dms_backup.db_all_mitra_all(Plate_Number, Time, shift, Warning_Type, Speed, Nama_Area, Kode_Drivers, Nama_Driver, media) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"

for i in range(0,len(df_src)):
    val=((df_final['Plate_Number'][i]),(df_final['Time'][i]),(df_final['shift'][i]),(df_final['Warning_Type'][i]),(df_final['Speed'][i]),(df_final['Nama_Area'][i]),(df_final['Kode_Drivers'][i]),(df_final['Nama_Driver'][i]),(df_final['media'][i]))
    #(val)
    mycursor.execute(sql,val)
    
    db_dst.commit()

print(mycursor.rowcount, "was inserted.")

DatabaseError: 1364 (HY000): Field 'Device_ID' doesn't have a default value